%section#todoapp
  %header#header
    %h1 Minhas notas
    = simple_form_for @note do |f|
      = f.input :content, label: false, as: :string, input_html: { id: 'new-todo', placeholder: 'Adicione sua nota' }
  %section#main
    %ul#todo-list
      - if @notes.any?
        - @notes.each do |note|
          %li
            %label
              = note.content
            = link_to 'x', note_path(note), class: 'destroy', method: :delete

  %footer#footer
    %span#todo-count
      Total de notas:
      = @notes.size
