!!! 5
%html{:lang => "pt"}
  %head
    %meta{:charset => "utf-8"}
    %meta{:name => "keywords", :content => ""}
    %meta{:name => "description", :content => ""}

    %title= page_title(app_name: 'Minhas notas')

    %link{:href => "/favicon.ico", :rel => "shortcut icon"}
    = yield(:header_tags)

    = stylesheet_link_tag "application", :type => nil, :media => "all"
    = javascript_include_tag "application", :type => nil, "data-turbolinks-track" => true
    = csrf_meta_tags

    /[if lt IE 9]
      %script{:src => "http://html5shim.googlecode.com/svn/trunk/html5.js"}

  %body{:class => body_class}
    = yield
    %footer#info
      %p
        Front-end by
        %a{href: "http://todomvc.com"} TodoMVC

